.experience_container{
    margin: 4rem 0;
    position: relative;
}

.experience_heading {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-weight: 600;
    margin-bottom: 3.5rem;
    cursor: pointer;
  position: relative;
}

.experience_heading::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #a993fe, #7e61e7 100%);
    position: absolute;
    border-radius: 0.5rem;
    bottom: -0.6rem;
    transform: translateX(-1.5rem);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .experience_heading:hover::before {
    opacity: 1;
    transform: translateX(0);
    width: 30%;
  }

.arrow_right, .arrow_left{
    width: 2.2rem;
    height: 2.2rem;
    color: #6751b9;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    top: 56%;
    cursor: pointer;
    z-index: 2;
    cursor: pointer;
    background: #130f2a;
}

.arrow_left span, .arrow_right span{
    font-size: 2rem;
    font-weight: 500;
}
.arrow_left{
    left: -1rem;
}

.arrow_right{
    right: -1rem;
}

@media (max-width: 1025px)
{
    .arrow_left{
        left: 0rem;
    }

    .arrow_right{
        right: 0rem;
    }
}

@media (max-width: 768px)
{
    .experience_heading{
        font-size: 2rem;
    }
    .arrow_left{
        left: -1rem;
    }

    .arrow_right{
        right: -1rem;
    }
}