.contact_form_container{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    grid-gap: 1.5rem;
}

.input_name_div{
    display: flex;
    align-items: center;
    grid-gap: 1.5rem;
}

form input, form textarea{
    width: 100%;
    font-size: 0.9rem;
    flex: 1;
    background: #130f2a;
    color: white;
    border-radius: 0.6rem;
    border: 1.5px solid #6751b9;
    padding: 1rem;
    outline: none;
}
form input:focus{
    border: 1.5px solid #a892fe;
}
form button{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
    border: 1px solid #6751ba;
    border-radius: 0.6rem;
    cursor: pointer;
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: 1.5px solid transparent;
}

form button:hover{
    color: #a892fe;
    background: transparent;
}

@media (max-width: 600px)
{
    .input_name_div{
        flex-direction: column;
        align-items: flex-start;
    }

    form input, form textarea{
        font-size: 0.8rem;
        padding: 0.7rem;
        border-radius: 0.3rem;
    }

    form button{
        font-size: 0.9rem;
        padding: 0.7rem;
        border-radius: 0.3rem;
    }
}