.contact_container{
    margin: 4rem 0;
    position: relative;
}

.contact_heading {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-weight: 600;
    margin-bottom: 3.5rem;
    cursor: pointer;
  position: relative;
}

.contact_heading::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #a993fe, #7e61e7 100%);
    position: absolute;
    border-radius: 0.5rem;
    bottom: -0.6rem;
    transform: translateX(-1.5rem);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .contact_heading:hover::before {
    opacity: 1;
    transform: translateX(0);
    width: 20%;
  }

.contact_content{
    display: flex;
    align-items: flex-start;
    gap: 3rem
}

@media (max-width: 768px)
{
    .contact_content{
        flex-direction: column-reverse;
        align-items: normal;
    }

    .contact_heading{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}